<script>
  window.resourceImages = {
    spriteSources: {
      darkElemental: '<%= image_url("sprites/darkElemental.png") %>',
      fireElemental: '<%= image_url("sprites/fireElemental.png") %>'
    },

    iconSources: {
      settlement: "<%= image_url('icons/castle.png') %>"
    }
  }
</script>
<div id="app">app not loaded</div>
